.navbar {
    background-color: #333; /* Use a darker shade of gray for a light black appearance */
  }

  .navbar a {
    color: white; /* Set text color */
  }
  .navbar a:hover
  {
    background-color: transparent;
    color:gray;
  }
  .navbar a:visited {
    color: white; /* Maintain the same color for visited links as regular links */
  }
  
  
  .navbar-collapse {
    justify-content: space-between;
  }
  .navbar-nav .btn {
    margin-right: 10px; /* Adjust margin if needed */
  }