<br>
<div class="book-management">
    <div class="card">
      <button (click)="addBook()">Add Book</button>
    </div>
  
    <div class="card">
      <button (click)="updateBook()">Update Book</button>
    </div>
  
    <div class="card">
      <button (click)="deleteBook()">Delete Book</button>
    </div>
  
    <div class="card">
      <button (click)="viewAllBooks()">View All Books</button>
    </div>
  
    <div class="card">
      <button (click)="searchBooks()">Search Books</button>
    </div>
  </div>
