.background-image {
    background-image: url('https://media.istockphoto.com/id/1255328634/photo/cricket-leather-ball-resting-on-bat-on-the-stadium-pitch.jpg?s=612x612&w=0&k=20&c=e2yHkZt3DISv6e1dpkZgABgC9fxfY93cB1H4MdY9sJs=');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
    position: relative;
  }
  
  .background-image::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: inherit;
    filter: blur(5px); /* Apply blur effect only to this overlay */
  }
  
  .content {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    font-size: 84px;
    z-index: 1; /* Ensure content is above the blurred overlay */
  }
  